{% extends 'base.html' %}

{%block title%}contact{%endblock title%}

{% block body%}
<div class="container-fluid">
    <img src="/static/contact.jpg" width="1300" height="500"
    alt="...">
  </div>
  <form>
    <div class="container-fluid my-4">
        <div class="row">
            <div class="col-md-1">
                <label for="exampleInputEmail1" class="form-label">Name</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                 <label for="exampleInputEmail1" class="form-label">Email</label>
            </div>
            <div class="col-md-3">
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-4">
        <div class="row">
            <div class="col-md-1">
                <label for="exampleInputPassword1" class="form-label">Password</label>
            </div>
            <div class="col-md-3">
                 <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
        </div>
    </div>
    <div class="container-fluid">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock body%}


